@charset "utf-8";

/* CSS Document */

@media print {
body {
	font-family: 'Cabin', sans-serif;
	background-color: #121212;
	color: #FDFDFD;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
	display: block;
}
h1 {
	font-size: 24pt;
}
h2 {
	font-size: 14pt;
	margin-top: 25px;
}
aside h2 {
	font-size: 18pt;
}
header nav, footer {
	display: none;
}
img {
	max-width: 500px;
}
@page {
	margin: 0.5cm;
}
 @page :left {
margin: 0.5cm;
}
 @page :right {
margin: 0.8cm;
}
 @page :first {
 margin: 1cm 2cm;
}
ul {
	list-style: none
}
li {
	content: "» ";
}
}
